# Archivos temporales de Visual Studio
.vs/

# Binarios y ensamblados
bin/
obj/

# Archivos de usuario de Visual Studio
*.user
*.suo

# Respaldo de archivos
*.bak
*.tmp
/ClubDeportivo/Controllers/Forms/PantallaPrincipal/FrmPagarCuotaActividad.cs
